$color-dark: #211;
$color: #422;
$color-light: #844;
$color-black: #000;
$color-white: #fff;
$color-bg: #ffe;
$color-secondary-light: #ff8;
$color-secondary: #884;

html {
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        user-select: none;
        color: $color-white;
        animation: animationBackground 1s ease-in-out infinite alternate;

        #settings-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 240px;
            margin: 8px;
            padding: 8px;
            background-color: $color;
            box-shadow: inset 0 0 0 2px $color-dark, inset 0 0 0 4px $color-secondary, 8px 8px $color-dark;
            z-index: 100;

            #setting-title {
                margin: 8px;
                padding: 4px;
                font-size: 24px;
                text-align: center;
                line-height: 24px;
            }

            #settings {
                display: flex;
                flex-direction: column;
                transition: .2s;
                overflow: hidden;

                .option {
                    padding: 8px 8px;
                }
            }
        }

        #question-container {
            max-width: 576px;
            margin: auto;
            display: flex;
            flex-direction: column;
            background-color: $color-bg;
            box-shadow: $color-dark 16px 16px;
            flex-shrink: 0;

            #question {
                height: 32px;
                margin: 16px;
                padding: 8px;
                display: flex;
                background-color: $color;
                box-shadow: inset 0 0 0 2px $color-dark, inset 0 0 0 4px $color-secondary, 4px 4px $color-black; 
                text-align: center;
                font-size: 32px;
                text-align: center;

                #question-content {
                    margin: 0 auto;
                    padding: 4px;
                    font-size: 24px;
                    text-align: center;
                    line-height: 24px;
                    z-index: 1;
                }

                #timeoutElem {
                    height: 1em;
                    position:absolute;
                    background-color: $color-light;
                }
            }

            .answers {
                width: 100%;
                height: 144px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .answer {
                    margin: 16px;
                    padding: 8px;
                    display: flex;
                    flex-direction: column;
                    background-color: $color;
                    box-shadow: inset 0 0 0 2px $color, inset 0 0 0 4px $color-secondary, 4px 4px $color-black; 
                    text-align: center;
                    font-size: 48px;
                    transition: .1s;
                    cursor: pointer;
                    overflow: hidden;

                    .answer-guess {
                        width: 96px;
                        height: 96px;
                        margin: 0;
                        transition: .2s;
                        line-height: 96px;
                    }
                    
                    .answer-value {
                        width: 96px;
                        height: 0px;
                        margin: 0;
                        transition: .2s;
                        color: transparent;
                    }
                }

                .answer:hover {
                    margin: 12px 16px 20px 16px;
                    background-color: $color-light;
                    box-shadow: inset 0 0 0 2px $color, inset 0 0 0 4px $color-secondary-light, 8px 8px $color-black;
                    transition: .1s;
                    transform: scale(1.05) rotate(3deg);
                }
            }
        }
    }
}

@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: 528px;
    }
}

@keyframes animationBackground {
    0% {
        background-image: repeating-linear-gradient(-15deg, transparent, transparent 8px, $color 8px, $color 16px),
            repeating-linear-gradient(75deg, $color-dark, $color-dark 8px, $color 8px, $color 16px);
    }

    50% {
        background-image: repeating-linear-gradient(0deg, transparent, transparent 8px, $color 8px, $color 16px),
            repeating-linear-gradient(90deg, $color-dark, $color-dark 8px, $color 8px, $color 16px);
    }

    100% {
        background-image: repeating-linear-gradient(15deg, transparent, transparent 8px, $color 8px, $color 16px),
            repeating-linear-gradient(105deg, $color-dark, $color-dark 8px, $color 8px, $color 16px);
    }
}