html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    background-color: #ddd;
    user-select: none;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: inset 0px 0px 8px #ddd;
    border-radius: 4px;
    flex-shrink: 0;
}

.exercices {
    display: flex;
    flex-direction: row;
}

.exercice {
    display: flex;
    flex-direction: column;
}

.text {
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
    font-size: 32px;
    text-align: center;
}

.sub-text {
    margin: 8px;
    padding: 4px;
    font-size: 24px;
    text-align: center;
}

.text.dark {
    background-color: #000;
    color: #fff;
}

.sub-container {
    margin: 0px 16px;
    padding: 8px;
    background-color: #ddd;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 4px;
}

.option {
    padding: 4px 8px;
}

.choices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#stats {
    padding: 8px 32px 16px;
}

.button {
    margin: 16px auto;
    padding: 8px 32px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 32px;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
}

.button:hover {
    background-color: #888;
    transition: .3s;
}

.choice {
    width: 96px;
    height: 96px;
    margin: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    font-size: 64px;
}

.choice-guess {
    width: 96px;
    margin: 0;
    transition: .2s;
}

.choice-value {
    width: 96px;
    height: 0px;
    margin: 0;
    transition: .2s;
}

#character1 {
    display: flex;
    text-align: center;
}

#timeoutElem {
    height: 35px;
    position:absolute;
    background: linear-gradient(to left, #fff, #000);
}

@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: 528px;
    }
}