$color-dark: #211;
$color: #422;
$color-light: #844;
$color-black: #000;
$color-white: #fff;
$color-bg: #ffe;
$color-secondary-light: #ff8;
$color-secondary: #884;

html {
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        user-select: none;
        color: $color-white;
        animation: animationBackground 1s ease-in-out infinite alternate;

        #settings-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 240px;
            margin: 8px;
            padding: 8px;
            background-color: $color;
            box-shadow: inset 0 0 0 2px $color-dark, inset 0 0 0 4px $color-secondary, 8px 8px $color-dark;
            z-index: 3;

            #setting-title {
                margin: 8px;
                padding: 4px;
                font-size: 24px;
                text-align: center;
                line-height: 24px;
            }

            #settings {
                display: flex;
                flex-direction: column;
                transition: .2s;
                overflow: hidden;

                .option {
                    padding: 8px 8px;
                }
            }
        }

        #question-container {
            max-width: 576px;
            margin: auto;
            display: flex;
            flex-direction: column;
            background-color: $color-bg;
            box-shadow: $color-dark 16px 16px;
            flex-shrink: 0;

            #score {
                position: absolute;
                width: 64px;
                height: 64px;
                margin: 8px 4px;
                background-color: $color;
                box-shadow: inset 0 0 0 2px $color-dark, inset 0 0 0 4px $color-secondary, 4px 4px $color-black; 
                border-radius: 48px;
                font-size: 32px;
                text-align: center;
                line-height: 64px;
                transform: rotate(-15deg);
                transition: .2s;
            }

            #question {
                height: 32px;
                margin: 16px;
                padding: 8px;
                background-color: $color;
                box-shadow: inset 0 0 0 2px $color-dark, inset 0 0 0 4px $color-secondary, 4px 4px $color-black; 
                text-align: center;
                font-size: 32px;
                text-align: center;

                #question-content {
                    width: 100%;
                    float: left;
                    padding: 4px 0;
                    font-size: 24px;
                    text-align: center;
                    line-height: 24px;
                }

                #timeoutElem {
                    height: 100%;
                    background-color: $color-light;
                }
            }

            .answers {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .answer {
                    height: 96px;
                    margin: 16px;
                    padding: 8px;
                    display: flex;
                    flex-direction: column;
                    background-color: $color;
                    box-shadow: inset 0 0 0 2px $color, inset 0 0 0 4px $color-secondary, 4px 4px $color-black; 
                    text-align: center;
                    font-size: 48px;
                    cursor: pointer;
                    overflow: hidden;

                    &.short {
                        width: 96px;
                        
                        &:hover {
                            transform: scale(1.05) rotate(3deg);
                        }
                    }

                    &.long {
                        width: 528px;
                        font-size: 24px;
                        
                        &:hover {
                            transform: scale(1.025) rotate(1deg);
                        }
                    }

                    &:hover {
                        z-index: 2;
                        margin: 12px 20px 20px 12px;
                        background-color: $color-light;
                        box-shadow: inset 0 0 0 2px $color, inset 0 0 0 4px $color-secondary-light, 8px 8px $color-black;
                    }

                    .answer-guess {
                        width: 100%;
                        height: 96px;
                        margin: 0;
                        transition: .2s;
                        line-height: 96px;
                    }
                    
                    .answer-value {
                        width: 100%;
                        height: 0px;
                        margin: 0;
                        transition: .2s;
                        color: transparent;
                    }
                }
            }
        }
    }
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes animationBackground {
    0% {
        background-image: repeating-linear-gradient(-15deg, transparent, transparent 8px, $color 8px, $color 16px),
            repeating-linear-gradient(75deg, $color-dark, $color-dark 8px, $color 8px, $color 16px);
    }

    50% {
        background-image: repeating-linear-gradient(0deg, transparent, transparent 8px, $color 8px, $color 16px),
            repeating-linear-gradient(90deg, $color-dark, $color-dark 8px, $color 8px, $color 16px);
    }

    100% {
        background-image: repeating-linear-gradient(15deg, transparent, transparent 8px, $color 8px, $color 16px),
            repeating-linear-gradient(105deg, $color-dark, $color-dark 8px, $color 8px, $color 16px);
    }
}