html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    background-image: repeating-linear-gradient(-15deg, transparent, transparent 8px, #800 8px, #800 16px),
        repeating-linear-gradient(75deg, #000, #000 8px, #800 8px, #800 16px);
    user-select: none;
}

/* Settings */

#settings-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    padding: 8px;
    background-color: #000;
    color: #fff;
    box-shadow: inset 0 0 0 2px #000, inset 0 0 0 4px #fff; 
    z-index: 100;
}

#setting-title {
    margin: 8px;
    padding: 4px;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
}

#settings {
    display: flex;
    flex-direction: column;
    transition: .2s;
    overflow: hidden;
}

.sub-container {
    margin: 0px 16px;
    padding: 8px;
    background-color: #ddd;
}

.option {
    padding: 8px 8px;
}

/* Question */

#question-container {
    max-width: 576px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: #000 16px 16px;
    flex-shrink: 0;
}

#question {
    height: 32px;
    margin: 16px;
    padding: 8px;
    display: flex;
    background-color: #000;
    color: #fff;
    box-shadow: inset 0 0 0 2px #000, inset 0 0 0 4px #fff; 
    text-align: center;
    font-size: 32px;
    text-align: center;
}

#question-content {
    margin: 0 auto;
    padding: 4px;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
}

#timeoutElem {
    height: 1em;
    position:absolute;
    background-color: #888;
}

.answers {
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.answer {
    margin: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    box-shadow: inset 0 0 0 2px #000, inset 0 0 0 4px #fff; 
    text-align: center;
    font-size: 48px;
    transition: .3s;
    cursor: pointer;
    overflow: hidden;
}

.answer:hover {
    background-color: #888;
    transition: .3s;
}

.answer-guess {
    width: 96px;
    height: 96px;
    margin: 0;
    transition: .2s;
    line-height: 96px;
}

.answer-value {
    width: 96px;
    height: 0px;
    margin: 0;
    transition: .2s;
    color: transparent;
}

@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: 528px;
    }
}